.button--create-new-task {
  width: 52px;
  height: 52px;
  position: sticky;
  right: 1rem;
  bottom: 1rem;
  border: none;
  border-radius: 50%;
  background: #ff851c;
  align-self: flex-end;

  &::before {
    content: "";
    display: block;
    width: 15.2px;
    height: 15.2px;
    background: #ffffff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: relative;
    right: -12px;
    bottom: -14px;
  }

  &::after {
    content: "";
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: relative;
    top: -30px;
    right: 5px;
    background: #ff851c;
    filter: blur(4px);
  }
}
