.cardForm,
.cardEdit,
.newCard {
  position: relative;
  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03), 3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  margin: 14px;
}
.cardForm:hover,
.cardEdit:hover,
.newCard:hover {
  transform: scale(1.02);
}
.cardForm .formTop,
.cardEdit .formTop,
.newCard .formTop {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.cardForm .formTop .checkbox,
.cardEdit .formTop .checkbox,
.newCard .formTop .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.cardForm .formTop .checkmark,
.cardEdit .formTop .checkmark,
.newCard .formTop .checkmark {
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  vertical-align: middle;
  fill: #00d7ff;
  border-radius: 50%;
  -webkit-animation: svg-shadow 1.5s ease infinite alternate;
          animation: svg-shadow 1.5s ease infinite alternate;
}
.cardForm .formTop .checkbox:checked + .checkmark,
.cardEdit .formTop .checkbox:checked + .checkmark,
.newCard .formTop .checkbox:checked + .checkmark {
  fill: rgb(185, 195, 200);
  -webkit-animation: svg-shadow-done 1.5s ease infinite alternate;
          animation: svg-shadow-done 1.5s ease infinite alternate;
}
.cardForm .formMiddle .info,
.cardEdit .formMiddle .info,
.newCard .formMiddle .info {
  color: #b9c3c8;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
.cardForm .formMiddle .name,
.cardEdit .formMiddle .name,
.newCard .formMiddle .name {
  width: 163px;
  outline: none;
  border: none;
  display: block;
  text-align: center;
  margin: 10px auto 12px auto;
  border-bottom: 1px solid #00d7ff;
  caret-color: #00d7ff;
  color: #282828;
  font-weight: 700;
}
.cardForm .formBottom,
.cardEdit .formBottom,
.newCard .formBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardForm .formBottom .groupBtn,
.cardEdit .formBottom .groupBtn,
.newCard .formBottom .groupBtn {
  color: #282828;
  border: none;
  border-radius: 0px 15px 15px 0px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cardForm .formBottom .groupBtn:hover,
.cardEdit .formBottom .groupBtn:hover,
.newCard .formBottom .groupBtn:hover {
  transform: scale(1.1);
  translate: 5%;
}
.cardForm .formBottom .options,
.cardEdit .formBottom .options,
.newCard .formBottom .options {
  margin-right: 20px;
  color: #b9c3c8;
  text-align: center;
}
.cardForm .formBottom .options .cancel,
.cardEdit .formBottom .options .cancel,
.newCard .formBottom .options .cancel {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cardForm .formBottom .options .submit,
.cardEdit .formBottom .options .submit,
.newCard .formBottom .options .submit {
  display: inline-block;
  position: relative;
  border: none;
  background-color: transparent;
  color: #00d7ff;
  cursor: pointer;
}
.cardForm .formBottom .options .submit::after,
.cardEdit .formBottom .options .submit::after,
.newCard .formBottom .options .submit::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 217, 255);
  transform-origin: bottom midle;
  transition: transform 0.25s ease-out;
}
.cardForm .formBottom .options .submit:hover::after,
.cardEdit .formBottom .options .submit:hover::after,
.newCard .formBottom .options .submit:hover::after {
  transform: scaleX(0.8);
  transform-origin: bottom midle;
}

@-webkit-keyframes svg-shadow {
  from {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px rgba(0, 217, 255, 0.3)) drop-shadow(0 0 3px rgba(0, 217, 255, 0.3));
  }
  to {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 3px rgba(0, 217, 255, 0.6)) drop-shadow(0 0 4px rgba(0, 217, 255, 0.6));
  }
}

@keyframes svg-shadow {
  from {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px rgba(0, 217, 255, 0.3)) drop-shadow(0 0 3px rgba(0, 217, 255, 0.3));
  }
  to {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 3px rgba(0, 217, 255, 0.6)) drop-shadow(0 0 4px rgba(0, 217, 255, 0.6));
  }
}
@-webkit-keyframes svg-shadow-done {
  from {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px rgba(185, 195, 200, 0.3)) drop-shadow(0 0 3px rgba(185, 195, 200, 0.3));
  }
  to {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 3px rgba(185, 195, 200, 0.6)) drop-shadow(0 0 4px rgba(185, 195, 200, 0.6));
  }
}
@keyframes svg-shadow-done {
  from {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px rgba(185, 195, 200, 0.3)) drop-shadow(0 0 3px rgba(185, 195, 200, 0.3));
  }
  to {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 3px rgba(185, 195, 200, 0.6)) drop-shadow(0 0 4px rgba(185, 195, 200, 0.6));
  }
}
[value=Easy],
[value=Normal],
[value=Hard] {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 400;
  -webkit-animation: blink-easy 0.5s;
          animation: blink-easy 0.5s;
  display: inline-block;
}

[value=Easy] {
  color: green;
}

[value=Normal] {
  color: orange;
}

[value=Hard] {
  color: red;
}

@-webkit-keyframes blink-easy {
  0% {
    background: rgb(0, 128, 0);
    width: 0;
  }
}

@keyframes blink-easy {
  0% {
    background: rgb(0, 128, 0);
    width: 0;
  }
}
@-webkit-keyframes blink-normal {
  0% {
    background: rgb(255, 166, 0);
    width: 0;
  }
}
@keyframes blink-normal {
  0% {
    background: rgb(255, 166, 0);
    width: 0;
  }
}
@-webkit-keyframes blink-hard {
  0% {
    background: rgb(255, 0, 0);
    width: 0;
  }
}
@keyframes blink-hard {
  0% {
    background: rgb(255, 0, 0);
    width: 0;
  }
}
[type=datetime-local] {
  outline: none;
  border: none;
  display: block;
  color: #b9c3c8;
}

::-webkit-calendar-picker-indicator {
  filter: invert(78%) sepia(49%) saturate(5346%) hue-rotate(148deg) brightness(102%) contrast(108%);
}

[value=STUFF] {
  background-color: #b9c3c8;
}

[value=FAMILY] {
  background-color: #ffe6d3;
}

[value=HEALTH] {
  background-color: #cdf7ff;
}

[value=LEARNING] {
  background-color: #fff6c0;
}

[value=LEISURE] {
  background-color: #f8d2ff;
}

[value=WORK] {
  background-color: #d3f6ce;
}

.cardForm {
  margin: 0;
}
.cardForm:first-child {
  margin: 14px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cardForm,
.cardEdit,
.newCard {
    width: 290px;
    height: 260px;
  }
  .cardForm .formTop,
.cardEdit .formTop,
.newCard .formTop {
    margin: 0 0 40px 10px;
  }
  .cardForm .formMiddle .info,
.cardEdit .formMiddle .info,
.newCard .formMiddle .info {
    font-size: 14px;
    line-height: 14px;
  }
  .cardForm .formMiddle .name,
.cardEdit .formMiddle .name,
.newCard .formMiddle .name {
    font-size: 20px;
    line-height: 20px;
    margin: 10px auto 12px auto;
  }
  .cardForm .formBottom,
.cardEdit .formBottom,
.newCard .formBottom {
    font-size: 14px;
    line-height: 14px;
  }
  [value=Easy],
[value=Normal],
[value=Hard] {
    font-size: 16px;
    line-height: 16px;
  }
  input[type=datetime-local] {
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto 34px auto;
  }
  [value=STUFF],
[value=FAMILY],
[value=HEALTH],
[value=LEARNING],
[value=LEISURE],
[value=WORK] {
    width: 120px;
    font-size: 14px;
    line-height: 35px;
  }
  .newCard .groupBtn {
    margin-top: 35px;
  }
  .newCard .formMiddle {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .cardForm,
.cardEdit,
.newCard {
    width: 205px;
    height: 200px;
  }
  .cardForm .formTop,
.cardEdit .formTop,
.newCard .formTop {
    margin: 0 0 20px 10px;
  }
  .cardForm .formMiddle .info,
.cardEdit .formMiddle .info,
.newCard .formMiddle .info {
    font-size: 12px;
    line-height: 12px;
  }
  .cardForm .formMiddle .name,
.cardEdit .formMiddle .name,
.newCard .formMiddle .name {
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto;
  }
  .cardForm .formBottom,
.cardEdit .formBottom,
.newCard .formBottom {
    font-size: 11px;
    line-height: 11px;
  }
  [value=Easy],
[value=Normal],
[value=Hard] {
    font-size: 14px;
    line-height: 14px;
  }
  input[type=datetime-local] {
    font-size: 14px;
    line-height: 14px;
    margin: 0 auto 40px auto;
  }
  [value=STUFF],
[value=FAMILY],
[value=HEALTH],
[value=LEARNING],
[value=LEISURE],
[value=WORK] {
    width: 88px;
    font-size: 11px;
    line-height: 25px;
  }
  .newCard .groupBtn {
    margin-top: 25px;
  }
  .newCard .formMiddle {
    margin-top: 35px;
  }
}/*# sourceMappingURL=CardForm.module.css.map */