.modalBackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.completeModal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .info {
    color: #000;
    & .name {
      color: #00d7ff;
      text-decoration: underline;
    }
  }
  & .continue {
    color: #b9c3c8;
    font-weight: 400;
    & .continueArrow {
      color: #00d7ff;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .completeModal {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    & .continue {
      font-size: 18px;
      line-height: 18px;
    }
  }
}

@media screen and (min-width: 768px) {
  .completeModal {
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    & .continue {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
